In [1]:
from rfm_deployment.query_comercios import *
import cx_Oracle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import calendar
import datetime
import cairo
import gi
gi.require_version('Gtk', '3.0')
from gi.repository import Gtk

%matplotlib inline

In [2]:
pd.set_option('display.max_columns', 500)
#pd.set_option('display.max_rows', 500)

In [3]:
con = cx_Oracle.connect('MMONTERO_DIS/Data1234@//cluster-dwhAIX-scan:1521/dwh_app_service', encoding = 'utf8')
#Acceso al data Warehouse @DWTNPROD_AIX.WORLD desde fuera de Naranja

In [4]:
cur = con.cursor() #creo un cursor

In [5]:
inicio = datetime.date(2020, 1, 25)
fin = datetime.date(2019, 11, 25)
months = -1

In [6]:
fecha_final = add_months(inicio, -2)
contador = 1

while fecha_final >= fin :
    
    fi_int = datetime_to_integer(inicio)
    ff_int = datetime_to_integer(fecha_final)
    print(f'Ciclo--{contador}:')
    print(f'La fecha de inicio es: {inicio}. La fecha final es: {fecha_final}.' )
    #fecha_init = inicio.strftime('%d/%m/%Y')
    #fecha_init_month = inicio.strftime('%m/%Y')
    #fecha_end = add_months(fecha_final, months).strftime('%d/%m/%Y')
    query = f_query(fi_int, ff_int)
    fecha_out = str(ff_int)
    fecha_in = str(fi_int)
    df = consulta_DW(query, cur, fecha_in, fecha_out)
    print('=================================================================================================')

    inicio = add_months(inicio, months)
    fecha_final = add_months(fecha_final, months)
    contador += 1

Ciclo--1:
La fecha de inicio es: 2020-01-25. La fecha final es: 2019-11-25.
=================================================================================================

In [131]:
df = pd.read_csv('ca_20200125--20191125.csv')

In [132]:
df

,DIM_TIEMPOS,CUIT,DIM_RUBROS,RUBRO_DESCRIPCION,COMERCIO_DESCRIPCION,SEGMENTO,MET_IMPORTE,DIM_TIEMPOS_PRESENTACION
0,20191125,27050089237,10298,COLEGIOS PROFESIONALES,BOUTIQUE LOURDES,NaN,100023.00,20191106
1,20191125,27050089237,10298,COLEGIOS PROFESIONALES,BOUTIQUE LOURDES,NaN,1750.00,20191113
2,20191125,27050089237,10298,COLEGIOS PROFESIONALES,BOUTIQUE LOURDES,NaN,3125.00,20191106
3,20191125,20229116372,9883,SERVICIOS PUBLICOS,SOLES DEL CERRO,PEQUEÑOS CA,6568.03,20191108
4,20191125,20229116372,9883,SERVICIOS PUBLICOS,SOLES DEL CERRO,PEQUEÑOS CA,2107.36,20191026
...,...,...,...,...,...,...,...,...
308984,20200125,27272485203,13915,FAST FOOD,VEN A MI,NaN,784.00,20200104
308985,20200125,27272485203,13915,FAST FOOD,VEN A MI,NaN,739.00,20200123
308986,20200125,27272485203,13915,FAST FOOD,VEN A MI,NaN,737.00,20200103
308987,20200125,27272485203,13915,FAST FOOD,VEN A MI,NaN,285.00,20200108
308988,20200125,27272485203,13915,FAST FOOD,VEN A MI,NaN,1014.00,20191226

In [133]:
df.isnull().sum()

DIM_TIEMPOS                     0
CUIT                            0
DIM_RUBROS                      0
RUBRO_DESCRIPCION               0
COMERCIO_DESCRIPCION            0
SEGMENTO                    88728
MET_IMPORTE                     0
DIM_TIEMPOS_PRESENTACION        0
dtype: int64

In [134]:
sin_segmento = df[df['SEGMENTO'].isnull()]

In [135]:
sin_segmento['COMERCIO_DESCRIPCION'].value_counts()

VEN A MI                          62066
NA-BY                              7116
COMPLEMED S.A                      6540
FOTOSHOP                           3972
RAUL ROSSI TALLER                  3286
GRUPO OPTICO MODELO                2851
EDITORIAL CONSULTORAS DEBITO A     1263
TALLER MECANICO PATOCO              500
ROBERTO MEDIAVILLA                  473
BOUTIQUE LOURDES                    254
ERIKA VANESA ANTIA                  242
CRAZY GAME                          145
BANDAL VINOS Y TABLAS                20
Name: COMERCIO_DESCRIPCION, dtype: int64

In [136]:
df['SEGMENTO'].value_counts()

PEQUEÑOS CA    151766
CA              67134
CA TOP           1361
Name: SEGMENTO, dtype: int64

In [137]:
pca = df[df['SEGMENTO'] == 'PEQUEÑOS CA']
ca = df[df['SEGMENTO'] == 'CA']
ca_top = df[df['SEGMENTO'] == 'CA TOP']

In [138]:
pca = pca.rename(columns={'MET_IMPORTE': 'IMPORTE', 'DIM_TIEMPOS_PRESENTACION': 'FECHA'})
ca = ca.rename(columns={'MET_IMPORTE': 'IMPORTE', 'DIM_TIEMPOS_PRESENTACION': 'FECHA'})
ca_top = ca_top.rename(columns={'MET_IMPORTE': 'IMPORTE', 'DIM_TIEMPOS_PRESENTACION': 'FECHA'})

In [140]:
pca['FECHA'] = pca['FECHA'].apply(lambda x: str(pd.to_datetime(datetime.datetime.strptime(str(x), '%Y%m%d')).date()))
ca['FECHA'] = ca['FECHA'].apply(lambda x: str(pd.to_datetime(datetime.datetime.strptime(str(x), '%Y%m%d')).date()))
ca_top['FECHA'] = ca_top['FECHA'].apply(lambda x: str(pd.to_datetime(datetime.datetime.strptime(str(x), '%Y%m%d')).date()))

In [141]:
pca

,DIM_TIEMPOS,CUIT,DIM_RUBROS,RUBRO_DESCRIPCION,COMERCIO_DESCRIPCION,SEGMENTO,IMPORTE,FECHA
3,20191125,20229116372,9883,SERVICIOS PUBLICOS,SOLES DEL CERRO,PEQUEÑOS CA,6568.03,2019-11-08
4,20191125,20229116372,9883,SERVICIOS PUBLICOS,SOLES DEL CERRO,PEQUEÑOS CA,2107.36,2019-10-26
5,20191125,20229116372,9883,SERVICIOS PUBLICOS,SOLES DEL CERRO,PEQUEÑOS CA,23232.38,2019-11-01
6,20191125,20229116372,9883,SERVICIOS PUBLICOS,SOLES DEL CERRO,PEQUEÑOS CA,579.17,2019-11-14
7,20191125,20229116372,9883,SERVICIOS PUBLICOS,SOLES DEL CERRO,PEQUEÑOS CA,3522.86,2019-10-29
...,...,...,...,...,...,...,...,...
308948,20200125,20229116372,9883,SERVICIOS PUBLICOS,SOLES DEL CERRO,PEQUEÑOS CA,300.00,2020-01-17
308949,20200125,20229116372,9883,SERVICIOS PUBLICOS,SOLES DEL CERRO,PEQUEÑOS CA,300.00,2020-01-20
308951,20200125,23231964754,9984,ALMACENES-DESPENSAS-AUTOSERVICIOS.,CONSULTORIO ODONTOLOGICO VILLA,PEQUEÑOS CA,2310.00,2020-01-14
308952,20200125,23231964754,9984,ALMACENES-DESPENSAS-AUTOSERVICIOS.,CONSULTORIO ODONTOLOGICO VILLA,PEQUEÑOS CA,360.00,2020-01-07
308953,20200125,23231964754,9984,ALMACENES-DESPENSAS-AUTOSERVICIOS.,CONSULTORIO ODONTOLOGICO VILLA,PEQUEÑOS CA,649.70,2019-12-30

In [145]:
def RScore(x,p,d):   
    
    """Funcion para obtener el Recency score. x es cada registro de la serie rfm['RECENCIA'] y d[p] es la serie quantile['RECENCIA'] """
    
    if x <= d[p][0.20]:
        return 5
    elif x <= d[p][0.4]:
        return 4
    elif x <= d[p][0.6]: 
        return 3
    elif x <= d[p][0.8]:
        return 2
    else:
        return 1

def FMScore(x,p,d):  
    
    """Funcion para obtener el score para la frecuencia y para el monto"""
    
    if x <= d[p][0.20]:
        return 1
    elif x <= d[p][0.4]:
        return 2
    elif x <= d[p][0.6]: 
        return 3
    elif x <= d[p][0.8]:
        return 4
    else:
        return 5

In [152]:
def RFM(df, inicio):
    rfm = df[['CUIT', 'IMPORTE', 'FECHA' ]]    
    rfm['FECHA'] = rfm['FECHA'].apply(lambda x: (datetime.datetime.strptime(inicio.strftime('%Y-%m-%d'), '%Y-%m-%d') - 
                                             datetime.datetime.strptime(x, '%Y-%m-%d' )).days)
    rfm_model = rfm.groupby('CUIT').agg({'CUIT': 'count', 'IMPORTE': 'sum', 'FECHA': 'min'})
    rfm_model = rfm_model.rename(columns={'CUIT':'FRECUENCIA', 'IMPORTE':'MONTO', 'FECHA':'RECENCIA'})
    #rfm_model.to_csv('RFM_mensual.csv', index = True)
    
    quantile = rfm_model[['RECENCIA', 'MONTO', 'FRECUENCIA']].quantile(q=[0.2,0.4,0.6,0.8])
    
    
    rfm_model['R_Quintil'] = rfm_model['RECENCIA'].apply(RScore,args=('RECENCIA',quantile))
    rfm_model['F_Quintil'] = rfm_model['FRECUENCIA'].apply(FMScore, args=('FRECUENCIA',quantile))
    rfm_model['M_Quintil'] = rfm_model['MONTO'].apply(FMScore, args=('MONTO',quantile))
    
    
    rfm_model['RFMScore'] = rfm_model.R_Quintil.map(str) \
                            + rfm_model.F_Quintil.map(str) \
                            + rfm_model.M_Quintil.map(str)
    
    rfm_model['Total_score'] = rfm_model['R_Quintil'] + rfm_model['F_Quintil'] + rfm_model['M_Quintil']
    rfm_model.to_csv('RFM_trimestral.csv', index = True)
    
    
    return rfm_model

In [153]:
inicio = datetime.date(2020, 1, 25)

In [164]:
rfm_model = RFM(pca, inicio)

/home/mmontero/anaconda3/envs/RFM_clon/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [165]:
rfm_model

,FRECUENCIA,MONTO,RECENCIA,R_Quintil,F_Quintil,M_Quintil,RFMScore,Total_score
CUIT,,,,,,,,
20106825352,26,2.242938e+05,8,1,1,1,111,3
20161072908,521,2.425803e+07,1,5,2,4,524,11
20180136666,27,5.069658e+06,5,2,1,2,212,5
20204394149,29,2.019621e+05,4,2,1,1,211,4
20229116372,12641,1.389799e+08,1,5,5,5,555,15
20238977844,1526,1.351780e+07,1,5,3,3,533,11
23231964754,131305,3.370739e+08,1,5,5,5,555,15
27141687854,1601,6.545066e+06,1,5,3,3,533,11
27162925275,1651,3.750517e+06,1,5,4,2,542,11
27203811093,45,3.029587e+06,8,1,2,1,121,4
27241885734,2394,4.571528e+07,1,5,4,4,544,13